<!DOCTYPE HTML>
<html>

<head>
<title>BTCsale</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
</head>
<body style="opacity: 0;">

	<div class="trading-view-container">
		<div class="k-toolbar-wrap">
			<div class="k-toolbar light">
				<div class="fullscreen icon-button">
					<li><i class="iconfont icon-fullscreen2"></i></li>
				</div>
			</div>
		</div>
		<div id="trading-view" class="trading-view-main"></div>
	</div>

</body>

<script>
	window.tvAppConfig = {
		option : JSON.parse('{$option}'),
		config : JSON.parse('{$config}'),
		symbol : JSON.parse('{$symbol}')
	};
</script>
<script src="/Public/Home/tradeview_v1.14/scripts/index.js?t={$time}"></script>

</html>

