@charset "utf-8";

// 背景颜色
$input-typePassword-Bg:#10181C;

// 边框颜色
$issue-border:#455058;

// 字体颜色
$white: #fff;
$green: #6ECE54;
$orange: #E8653B;
$sell-issue-font: #f0f0f0;

//我的订单
$zoom-ordera-Bg:#3B8EDE;
$hideScrollBox-border-right:#2F3C44;
$orderBook-tr-Bg:#1E2B34;
$orderBook-bg-Bg:#5d5e5f;
$orderBook-buybar-Bg:#569B4F;
$orderBook-sellbar-Bg:#9A4D36;

//卖家信用
$table-responsive-tdBg:#29363E;
$table-responsive-tdBg2:#344048;
$sell-table-borderRight:#2F3C44;

//序号
$buyTable-orderNumber-Color:#FF6939;
$sellTable-orderNumber-Color:#84F766;

//实心条
$sellTable-span-Bg:#569B4F;
$buyTable-span-Bg:#9A4D36;
$buyTable-button-hoverBg:#d05c45;

//订单管理
$orderManage-Color:#a4a9ac;
$sell-issue-exchange-Color:#a4a9ac;
$orderCollect-border-right:#313D45;
$orderManage-before-Color:#29363e;
$orderCollect-activeBg:#29363E;
$revokeNowOrder-Border:#29373F;
$revokeNowOrder-Color:#A2A6AA;
$revokeNowOrder-Bg:#16242C;
$warmTipsBox-Bg:#1E2B34;
$warmTipsBox-border-top:#2F3C44;
$revokeNowOrder-Border-Hover:#999999;
$remittanceInfo-Bg:#23323D;
$remittanceInfo-sum-Color:#9D4C38;
$orderList-coin-Color:#CCC;
$remittanceInfo-border-bottom:#2D3B45;


//收款按钮
$unreceivable-border-color:#48525A;
$unreceivable-active-Bg:#48525A;
$remit_tips-before-Bg:#ff6939;
$waitPay-Color:#677179;

//收款按钮
$orderDetail-Color:#A4A9AC;
$orderDetail-modalTitle-Bg:#313B43;
$orderDetail-modalContent-Bg:#3A454E;


//买入和卖出切换按钮
$issueSell-Color:#A7ABAD;
$issueBuy-active-Color:#6ECF54;
$issueSell-active-Color:#E8653B;
$checkServiceBlueCheck-Bg:#509cf1;
$issue-select-Bg:#1E2B34;
$issue-select-Border:#A4A9AC;


//参考栏
$reference-Bg:#2A343A;

//Switch
$bootstrap-switch-on:#2e4454;
$bootstrap-switch-off:#121a20;
$whitefff:#ffffff;

//撤销弹窗
$cancleStyle-span-Color:#E8653B;
$cancleStyle-pullLeft-Color:#A4A9AC;
$cancleStyle-pullLeft-Border:#74787A;
$cancleStyle-pullLeft-hoverColor:#3B8EDE;
$cancleStyle-pullLeft-hoverBorder:#3B8EDE;

//websocket断开提示弹窗
$websocketWarm-Bg:#3A444E;
$websocketWarm-button-Border:#A5A8A9;
$websocketWarm-button-Bg:#A5A8A9;






