@charset "utf-8";
@import "PlatPurple";
/* 账户信息 */
.font_con {
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid $font_conBorderColor;
}

.target_panel_title>.Name_status {
    padding-left: 35px;
    font-size: 12px;
    color: $Name_statusColor;
    vertical-align: bottom;
    display: inline-block;
}

.target_panel_title~.Name_status {
    display: none;
}

.target_panel_title>.Name_status img {
    height: 16px;
    margin-right: 5px;
}
.userCon {
    margin: 2rem auto 0 auto;
}

.userCon .NameAlert+.panel {
    margin-top: 6px;
}

.userCon .panel {
    background-color: $userCon-panelBg;
    border: 1px solid $userCon-panelBorder;
    box-shadow: 2px 2px 5px $userCon-panelShadow;
}

.userCon .pbmin {
    background: $userCon-pbminBg;
}

@media screen and (max-width: 640px) {
    .target_panel_title > .Name_status{
        padding-left: 0;
    }
}



