@charset "utf-8";
// 字体颜色
$White:#fff;
$country-list-Color:#ccc;
$country-name-Color:#999;
$checkbox-Color:#8b92a2;
// 背景颜色
$Blue:#3c6af0;
$Blue2:#509aef;
// 边框颜色
$selected-flag-border:#555;
$blue-border:#1F93DD;
//国家列表
$country-list-Bg:#ECEEF3;
$country-list-Border:#ECEEF3;
$country-list-Color:#ccc;
$dial-code-Color:#ABBAC8;
//注册成功弹窗
$regsuccess-Bg:#282828;
$regsuccess-foot-Bg:#323232;
$regsuccess-foot-Color:#5099EF;
$sa-success-Border:#5099EF;
$sa-success-Bg:#282828;
$sa-line-Bg:#5099EF;
$sa-fix-Bg:#282828;
//注册窗口
$regsuccess-well-Shadow:#050b0e;
$register-wrap-Shadow:#586fa8;
//输入框
$form-control-Color:#2e3031;
$form-control-Border:#cdd6de;
$form-controlWebkit-Color:#abbac8;
$mar-formControl-Border:#1E1E1E;
$register-phone-Color:#509AEF;
$register-Success-top-title:#0f1e40;
$register-Success-middle-con:#3c6bf0;
$register-Support-title:#2E3031;
$register-Support-content:#abbac8;
$register-Support-prev:#8b92a2;
$register-Support-prevHover:#2E3031;
//提示框
$warming-Border:#ff5f5f;
$warming-Bg:#ff5f5f;
$registerTips-Color:#5099ef;
//底部通栏
$bottomdiv-Border:#1E1E1E;
$bottomdiv-Color:#A0A0A0;
$checkService-Color:#8b92a2;