@charset "utf-8";

// 字体颜色
$White:#fff;
$black:#000000;
$country-name-Color:#999;
$checkbox-Color:#8b92a2;

// 背景颜色
$linear-gradient:#53A1FD;
$linear-gradient2:#2853FE;
$radial-gradient:#2b3367;
$radial-gradient2:#232b5a;
$radial-gradient3:#0c1338;

// 边框颜色
$selected-flag-border:#555;
$blue-border:#1F93DD;

//教程顶部图片
$bangdingshuoming-Color:#509AEF;
$Step-Number-Color:#2E5EFE;
$validation-Color:#646F85;
$pInternet-Color:#ABBAC8;
$aInternet-Color:#2E5EFE;
$number-Color:#0074FF;
$fa-angle-right-Color:#0074FF;
$number-down-Color:#BEBEBE;
$number-down-border:#ECEEF3;
$progressIcon-wrap-Color:#BEBEBE;

//背景图片和span变颜色
$icon-name-Color:#2E5EFE;
$through-line-Bg:#ECEEF3;
$number-down-border:#ECEEF3;
$progressIcon-wrap-Color:#BEBEBE;











