html {
    scrollbar-base-color: #fff;
    scrollbar-base-color: #fff;
    scrollbar-3dlight-color: #fff;
    scrollbar-highlight-color: #fff;
    scrollbar-track-color: #fff;
    scrollbar-arrow-color: #fff;
    scrollbar-shadow-color: #fff;
    scrollbar-dark-shadow-color: #fff;
}
/*webkit内核*/

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-button {
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-resizer {
    background-color: rgba(0, 0, 0, 0);
}


/*o内核*/

.-o-scrollbar {
    -moz-appearance: none !important;
    background: rgba(0, 255, 0, 0) !important;
}

::-o-scrollbar-button {
    background-color: rgba(0, 0, 0, 0);
}

::-o-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

::-o-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
}

::-o-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
}

::-o-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0);
}

::-o-scrollbar-resizer {
    background-color: rgba(0, 0, 0, 0);
}
.main-properties:nth-child(2){
    height: 182px !important;
    overflow: auto;
}
.main-properties:nth-child(3){
    height: 172px !important;
    overflow: auto;
}

.main-properties:nth-child(4){
    height: 211px !important;
    overflow: auto;
}

.main-properties:nth-child(5){
    height: 160px !important;
    overflow: auto;
}
.backdrop-37dtOKR8-{
    top: unset;
    bottom: unset;
}
._tv-dialog{    
    min-width: 378px !important;
}
._tv-dialog-content:nth-child(4){
    overflow: hidden;
}
.chart-page {
    background: #ffffff;
}
._tv-dialog-content .main-properties.main-properties-aftertabs, ._tv-dialog-content .main-properties.alert-aftertabs{height: auto !important}
@media screen and (max-width: 640px){
    ._tv-dialog{
        top: 0 !important;
        left: 0 !important;
        right: 0;
        top:44px !important;
    }
    .tv-dialog{
        top: 44px !important;
    }
    .properties-tabs a.properties-tabs-label{
        margin-left: 32px;
    }
    html[lang="en"] .properties-tabs a.properties-tabs-label{
        margin-left: 10px;
    }
    html[lang="en"] .properties-tabs a.properties-tabs-label:first-child{
        margin-left: 0
    }
    html[lang="en"] .properties-tabs a.properties-tabs-label:last-child{
        margin-right: 20px;
    }
    .property-page-column-2{width: 100%;}
    html[lang="en"] ._tv-dialog-title ._tv-dialog-title-close{
        top: 16px;
        right: 10px;
    }
    .main-properties:nth-child(2),
    .main-properties:nth-child(3),
    .main-properties:nth-child(4),
    .main-properties:nth-child(5){
        height: 140px!important
    }
    .main-properties:nth-child(3)>div{
        min-width: 280px !important;
    }
    .main-properties:nth-child(4)>div{
        min-width: 280px !important;
        width: 280px !important;
    }
    ._tv-dialog-content .main-properties:nth-child(5){
        padding: 25px 10px;
    }
    html[lang="en"] ._tv-dialog-content .main-properties:nth-child(5) td{
        padding: 3px 2px
    }
    html[lang="en"] ._tv-dialog-content .main-properties:nth-child(5){
        padding: 25px 2px;
    }
}
@media screen and (max-width: 475px){
    ._tv-dialog{
        min-width: 382px !important;
    }
    .tv-insert-indicator-dialog__body{
        height: 255px !important;
    }
}
@media screen and (max-width: 375px){
    ._tv-dialog{
        min-width: 344px !important;
    }
}
@media screen and (max-width: 360px){
    .tv-tabs{padding: 0 10px}
    ._tv-dialog{
        min-width: 330px !important;
    }
    .properties-tabs a.properties-tabs-label{
        margin-left: 26px;
    }
    html[lang="en"] .properties-tabs a.properties-tabs-label{
        margin-left: 6px;
    }
    html[lang="en"] ._tv-dialog-title ._tv-dialog-title-close{
        right: 5px;
    }
}
html.theme-dark .chart-page{ background: #262a34; }
html.theme-dark ._tv-dialog{ background: #ffffff; }
html.theme-dark ::selection{ background: #d8f0fa; }
html.theme-dark ._tv-dialog-content label{ color: #6f7073; }
html.theme-dark ._tv-button, html.theme-dark button._tv-button{ background-color: #fff; }
html.theme-dark ._tv-button, html.theme-dark button._tv-button{ border-color: #c9cbcd; }
html.theme-dark ._tv-button, html.theme-dark button._tv-button{ color: #6f7073; }
html.feature-no-touch.theme-dark ._tv-button:hover{ color: #6f7073; }
html.feature-no-touch.theme-dark ._tv-button:active:not([disabled]),html.feature-touch.theme-dark ._tv-button:active:not([disabled]), html.theme-dark ._tv-button.active, html.feature-no-touch.theme-dark ._tv-button.toolbutton:active,html.feature-touch.theme-dark ._tv-button.toolbutton:active, html.theme-dark ._tv-button.toolbutton.active, html.theme-dark .tv-select-container.sbHolderOpen, html.feature-no-touch.theme-dark .tv-select-container:active,html.feature-touch.theme-dark .tv-select-container:active{ background: #f4f7f9; }
html.theme-dark .tv-select-container{ color: #6f7073; }
html.theme-dark .tv-select-container{ border-color: #c9cbcd; }
html.theme-dark .tv-select-container{ background-color: #ffffff; }
html.theme-dark .tv-select-container a{ color: #595959; }
html.theme-dark .tv-unstyled-select-container .sbOptions, html.theme-dark .tv-select-container .sbOptions{ border-color: #c9cbcd; }
html.theme-dark .tv-unstyled-select-container .sbOptions, html.theme-dark .tv-select-container .sbOptions{ background: #ffffff; }
html.theme-dark .tv-unstyled-select-container .sbOptions a:link, html.theme-dark .tv-select-container .sbOptions a:link, html.theme-dark .sbOptions a:visited{ color: #595959; }
html.feature-no-touch.theme-dark .tv-unstyled-select-container .sbOptions a:hover, html.feature-no-touch.theme-dark .tv-select-container .sbOptions a:hover{ background: #f4f7f9; }
html.theme-dark .tv-unstyled-select-container .sbOptions a.active, html.theme-dark .tv-select-container .sbOptions a.active{ background: #f4f7f9; }
html.theme-dark html, html.theme-dark body{ color: #4a4a4a; }
._tv-dialog-content .caption-big {color: #595959;}
html.theme-dark .property-page{ color: #595959; }
html.theme-dark .properties-tabs a.properties-tabs-label{ color: #595959; }
html.feature-no-touch.theme-dark .properties-toolbar ._tv-button:not(.ok):not(.cancel):not(.disabled):not(.delete):hover, html.feature-no-touch.theme-dark .bottom-widgetbar-content.backtesting ._tv-button:not(.ok):not(.cancel):not(.disabled):not(.delete):hover, html.feature-no-touch.theme-dark ._tv-dialog ._tv-button:not(.ok):not(.cancel):not(.disabled):not(.delete):hover, html.feature-no-touch.theme-dark .widgetbar-widgetheader ._tv-button:not(.ok):not(.cancel):not(.disabled):not(.delete):hover, html.feature-no-touch.theme-dark .properties-toolbar .tv-select-container:not(.sbHolderDisabled):hover, html.feature-no-touch.theme-dark .bottom-widgetbar-content.backtesting .tv-select-container:not(.sbHolderDisabled):hover, html.feature-no-touch.theme-dark ._tv-dialog .tv-select-container:not(.sbHolderDisabled):hover, html.feature-no-touch.theme-dark .widgetbar-widgetheader .tv-select-container:not(.sbHolderDisabled):hover{ border-color: #b5b7b9; }
html.theme-dark .tv-dialog{ background-color: #ffffff; }
html.theme-dark .tv-dialog__section{ border-bottom-color: #dadde0; }
html.theme-dark .tv-dialog__title{ color: #212121; }
html.theme-dark .tv-dialog__close svg{ fill: #4a4a4a; }
html.theme-dark .tv-search-row{ border-bottom-color: #dadde0; }
html.theme-dark .tv-search-row__input{ background-color: #dadde0; }
html.theme-dark .tv-search-row__input-reset svg{ fill: #4a4a4a; }
html.theme-dark .tv-search-row__search-icon svg{ fill: #757575; }
html.theme-dark .textInput-3WRWEmm7-{ background-color: #ffffff; }
html.feature-no-touch.theme-dark .textInput-3WRWEmm7-[readonly]:hover, html.feature-no-touch.theme-dark .textInput-3WRWEmm7-[readonly]:focus,html.feature-touch.theme-dark .textInput-3WRWEmm7-[readonly]:focus, html.theme-dark .textInput-3WRWEmm7-[readonly]{ color: #65676a; }
html.feature-no-touch.theme-dark .textInput-3WRWEmm7-[readonly]:hover, html.feature-no-touch.theme-dark .textInput-3WRWEmm7-[readonly]:focus,html.feature-touch.theme-dark .textInput-3WRWEmm7-[readonly]:focus, html.theme-dark .textInput-3WRWEmm7-[readonly]{ border-color: #c9cbcd; }
.feature-no-touch .textInput-3WRWEmm7-:focus,.feature-touch .textInput-3WRWEmm7-:focus{border-color:unset !important}
html.feature-no-touch.theme-dark .tv-insert-study-item:not(.tv-insert-study-item--subgroup-header):hover{ background-color: #f1f3f6; }
html.theme-dark .tv-insert-indicator-dialog__search-control input{ background-color: #ffffff; }
html.theme-dark .dialog-37P3XYj--{ background-color: #fff; }
html.theme-dark .header-dpl-vtN_-{ border-bottom-color: #c5cbce; }
html.theme-dark .header-dpl-vtN_-{ color: #4c4848; }
.ghost-3yO24wIn-.primary-1rSzOFdX- {
    color: #4a4a4a;
    border: 1px solid #c9cbcd;
    background-color: #fff;
  }
html.theme-dark .tv-tabs:before{ background-color: #ffffff; }
html.feature-no-touch.theme-dark .tv-tabs__tab:hover, html.feature-no-touch.theme-dark .tv-tabs__tab:active,html.feature-touch.theme-dark .tv-tabs__tab:active, html.theme-dark .tv-tabs__tab.i-hover, html.theme-dark .tv-tabs__tab.i-active{ color: #212121; }
html.theme-dark .form-2GifjSKe- .copyForm-1HuPoKA0- .shadow-2JTdO0Fb-{ box-shadow:unset; }
html.theme-dark .context-menu-wrapper{border-color: #b5b7b9;background-color:#ffffff}
html.theme-dark tr.context-menu-hover{ background: #f2f3f5; }
html.theme-dark .context-menu .action-separator td{background-color:#eff0f1;}
html.theme-dark .context-menu .action-separator td{border-color:#ffffff}

.group-wWM3zP_M-{background: #f5f5f5}
.group-wWM3zP_M-:nth-of-type(3){background-color: transparent}
.button-13wlLwhJ-.hovered-FUo4RNOC-, .feature-no-touch .button-13wlLwhJ-:hover, .feature-no-touch .button-13wlLwhJ-:active, .feature-touch .button-13wlLwhJ-:active{background: #f0f0f0}
.button-2ioYhFEY-.isInteractive-20uLObIc-.hovered-3perbaxJ-, .feature-no-touch .button-2ioYhFEY-.isInteractive-20uLObIc-:hover, .feature-no-touch .button-2ioYhFEY-.isInteractive-20uLObIc-:active, .feature-touch .button-2ioYhFEY-.isInteractive-20uLObIc-:active{background: #f0f0f0}
html.theme-dark .group-wWM3zP_M-{background-color: #323746}
html.theme-dark .group-wWM3zP_M-:nth-of-type(3){background-color: transparent}
html.theme-dark .button-13wlLwhJ-.hovered-FUo4RNOC-, html.feature-no-touch.theme-dark .button-13wlLwhJ-:hover, html.feature-no-touch.theme-dark .button-13wlLwhJ-:active, html.feature-touch.theme-dark .button-13wlLwhJ-:active{background-color: #131722}
html.theme-dark .button-2ioYhFEY-.isInteractive-20uLObIc-.hovered-3perbaxJ-, html.feature-no-touch.theme-dark .button-2ioYhFEY-.isInteractive-20uLObIc-:hover, html.feature-no-touch.theme-dark .button-2ioYhFEY-.isInteractive-20uLObIc-:active, html.feature-touch.theme-dark .button-2ioYhFEY-.isInteractive-20uLObIc-:active{background-color: #131722}
.button-3zsRYmii-{height:calc(100% - 0px);margin: 0}
.item-2xPVYue0-.isActive-2j-GhQs_-, .feature-no-touch .item-2xPVYue0-.isActive-2j-GhQs_-:hover, .feature-no-touch .item-2xPVYue0-.isActive-2j-GhQs_-:active, .feature-touch .item-2xPVYue0-.isActive-2j-GhQs_-:active{background-color:#3C6AF0}
html.theme-dark .tv-insert-study-item--selected{background-color: #f5f5f5}