<include file="Public:header1" />

<!-- 背景图 -->
<div class='public_font_Himg'></div>
<!-- 主体内容 -->
<div class='policy-wrap'>
    <!--内容块 标题-->
    <div class='container content-title'>
        <div class=" headtitle col-lg-12 col-md-12 col-xs-12">
            <svg class="icon register-icon" aria-hidden="true"><use xlink:href="#icon-icon_seveice1"></use></svg>
            <h1 class="title">BTCS {$Think.lang._FWTK_}</h1>
        </div>
    </div>

    <!--全部内容部分-->
    <div class="policy-content">
        <!--内容块 第一个内容 介绍-->
        <div class="container ">
            <p class="date">{$Think.lang._ZHXD_}：2017-11-30 19:39:06</p>
            <p class='crude'>{$Think.lang._YDFWTKCJZHDFWBXTY_}</p>
            <p>{$Think.lang._BLGGSJBXBWZZZFB_}<span class='crude'>“{$Think.lang._ZHXD_}”</span>{$Think.lang._RQLZTKDBDZYJZXJJDFS_}
                <a href="#" class='acti-decoration'>support@BTCsale.com{$Think.lang._PUNCTUATION_}</a>
            </p>
            <p>{$Think.lang._BFWTKYYSYFWHZY_}LCTech Corporation（{$Think.lang._YXJC_}<span class='crude'>{$Think.lang._BTCBGSWM_}</span>）{$Think.lang._TGRHFWBXWZ_}https://www.BTCsale.com（{$Think.lang._YXJC_}<span class="crude">{$Think.lang._BWZHBTC_}</span>）{$Think.lang._YJWMTGDYDYYCXJYFW_}（{$Think.lang._TONGCW_}
                <span class="crude">{$Think.lang._BENFUWU_}</span>）{$Think.lang._QIANDINGWZCPXYSX_}</p>
            <!--<p class='internal-wid'>LCT{$Think.lang._JINGYINGDE_}<a href="#" class='acti-decoration'>https://www.BTCsale.com</a>{$Think.lang._SGJYSWJYPTCL_}</p>-->
        </div>
        <!--内容块  第一块 适用范围-->
        <div class="container">
            <h3>{$Think.lang._SHIYINGFW_}</h3>
            <p>{$Think.lang._BFWSYCNRBDQLBZAQ_}</p>
        </div>
        <!--内容块  第二块 我们的-->
        <div class='container'>
            <h3>{$Think.lang._WMDE_}</h3>
            <p>{$Think.lang._WMTGYGBHSZZCDZXJYPT_}</p>
            <p>{$Think.lang._QBXXDZQXDLJD_}</p>
            <p class="crude">{$Think.lang._YHBXZXZBRXSBHCDKZ_}</p>
            <p><span class="crude row-spacing">{$Think.lang._SWSB_}</span>{$Think.lang._BKBBXYDNHQTZD_}</p>
            <p><span class='crude row-spacing'>{$Think.lang._SHANGWKZ_}</span>{$Think.lang._BKBBXYWLJRFZYF_}</p>
            <p>{$Think.lang._YHJSFWSYSTXDZ_}</p>
            <p>{$Think.lang._LJBTYJSTJTGFWLGX_}</p>
            <p class='crude'>{$Think.lang._XTPTBNZCWTCDZR_}</p>
            <p class='row-spacing indent24'>A．{$Think.lang._XTTJWHQJ_}</p>
            <p class='row-spacing indent24'>B．{$Think.lang._DXSBCXGZBNJXSJCS_}</p>
            <p class='row-spacing indent24'>C．{$Think.lang._YTFDZHXZCPTZABNZXYW_}</p>
            <p class='row-spacing indent24'>D．{$Think.lang._HKGJJSJBDZAZDHYC_}</p>
            <p class='row-spacing indent24'>E．{$Think.lang._YYWJSLLWFYZJSJWT_}</p>
            <p class='row-spacing indent24'>F．{$Think.lang._YDSFGCHYWZCDSS_}</p>
            <p>{$Think.lang._YCZDWLYYJYYCGJSJQKQX_}</p>
            <p>{$Think.lang._BFFWYSFFSTGZSXGXY_}</p>
            <p>{$Think.lang._BHXYHSQMMBYXXWDZ_}</p>
            <p class='crude'>{$Think.lang._JYYCCL_}</p>
            <p>{$Think.lang._YHSYSTYBRKSZHBWLWTBKKJ_}</p>
            <p>{$Think.lang._JYYXHJYAQXYZTBFFWGN_}</p>
            <p>{$Think.lang._LJYHSYBWZCPHFWZSJYJBJ_}</p>
        </div>

        <!--内容块  第三块 交易数字资产的风险-->
        <div class='container'>
            <h3>{$Think.lang._JYSZZCDFX_}</h3>
            <p class='crude'>{$Think.lang._JYHCYSZZCHYKNZCNDSS_}</p>
            <p class='row-spacing'>{$Think.lang._QHHBHFZYYHZHD_}</p>
            <p class='row-spacing'>{$Think.lang._JYZLCXCWSYHSSSGZ_}</p>
            <p class='row-spacing'>{$Think.lang._YHZJDGCDZDSSZJCD_}</p>
            <p class='row-spacing'>{$Think.lang._JYGZZQZDSWFXDMZLDBDDL_}</p>
        </div>

        <!--内容块  第四块 创建账户-->
        <div class='container'>
            <h3>{$Think.lang._CHUANGJZH_}</h3>
            <p>{$Think.lang._TGYHMDHMMJSFWTK_}</p>
            <p>{$Think.lang._YHYQXZSFCWYHZSXGDD_}
            </p>
            <p>{$Think.lang._MMYSKTGSJLPZH_}</p>
        </div>

        <!--内容块  第五块 创建账户-->
        <div class='container'>
            <h3>{$Think.lang._YHQLJXKSY_}</h3>
            <p>{$Think.lang._SYNYXDBKZRDXKQX_}</p>
            <p class='crude'>{$Think.lang._NTYYXTKYD_}</p>
            <p class='row-spacing'>{$Think.lang._FWJXGRJWZJSSYQL_}</p>
            <p class='row-spacing'>{$Think.lang._BDZRBFWDQLHLYGDSF_}</p>
            <p class='row-spacing'>{$Think.lang._BFWSBQJIZSCQBH_}</p>
            <p class='row-spacing'>{$Think.lang._QXBKDBXYGAJGJCJG_}</p>
            <p class='row-spacing'>{$Think.lang._YHYQGJWZGDQDWZJL_}</p>
            <p class='row-spacing'>{$Think.lang._YHYQXGGRXXZXXZ_}</p>
            <p class='row-spacing'>{$Think.lang._YHYQCJWZZZDGZXSHD_}</p>
            <p class='row-spacing'>{$Think.lang._XSWZTGDQTGLFW_}</p>
            <p class='row-spacing'>{$Think.lang._DWZBMKXSRXQL_}</p>
            <p class='row-spacing'>{$Think.lang._TZSYWLFW_}</p>
            <p class='row-spacing'>{$Think.lang._TGKFDQDGZWZTZDQFW_}</p>
        </div>

        <!--内容块  第六块 用户义务-->
        <div class='container user-duty'>
            <h3>{$Think.lang._YONGHYW_}</h3>
            <p>{$Think.lang._BDXLGJMMWHGJAQ_}</p>
            <p class="crude row-spacing">{$Think.lang._SDKJPHXFXZFGSS_}</p>
            <p class="crude row-spacing">{$Think.lang._SDDFGJZQTFSHZYZD_}</p>
            <p class="crude row-spacing">{$Think.lang._SDFLGJPHGJTYD_}</p>
            <p class="crude row-spacing">{$Think.lang._SDMZCHPHMZTJD_}</p>
            <p class="crude row-spacing">{$Think.lang._NZSSRLSHZX_}</p>
            <p class="crude row-spacing">{$Think.lang._XYFJMXDDDD}</p>
            <p class="crude row-spacing">{$Think.lang._GRRMTREYGJD_}</p>
            <p class="crude row-spacing">{$Think.lang._SHGJMYD_}</p>
            <p class="crude row-spacing">{$Think.lang._QTWFXFHFLDXZGD_}</p>
            <p class="crude row-spacing">{$Think.lang._JXSYGGXWD_}</p>
            <p class="row-spacing">{$Think.lang._YHBDTGEYSDZCZHCZ_}</p>
            <p class="no-spacing">{$Think.lang._YHWFSSGDJCQCSSCNRD_}</p>
            <p class="row-spacing">{$Think.lang._JZYHZPTCSRHFFHDMJ_}</p>
            <!--<p class="no-spacing">{$Think.lang._TGSSXSZJYHFLZR_}</p>-->
            <p class="row-spacing">{$Think.lang._YHZXCDYQFLHGGJXGGD_}</p>
        </div>

        <!--内容块  第七块 服务费用-->
        <div class="container service-charge">
            <h3>{$Think.lang._FUWUFY_}</h3>
            <p class="row-spacing">{$Think.lang._BGSSQXGFWFYYYHDCXY_}</p>
            <p class="row-spacing">{$Think.lang._CFLYSMHYDZJKCXGFWFY_}</p>
        </div>

        <!--内容块  第八块 服务的变更、中断、终止、限制-->
        <div class='container'>
            <h3>{$Think.lang._FWDBGZDZZXZ_}</h3>
            <p>{$Think.lang._WZKNHDFWNRJXZBGZD_}</p>
            <p>{$Think.lang._ZRSPTXDSFFWXGZCDFMGZ_}</p>
            <p>{$Think.lang._RFSYXRHYZQXYQZZFW_}</p>
            <p class='row-spacing row-margin'>{$Think.lang._GJFLGDNYTJZSXXHLZM_}</p>
            <p class='row-spacing row-margin'>{$Think.lang._NWFXGFLGDHBXYYD_}</p>
            <p class='row-spacing row-margin'>{$Think.lang._AZFLGDHZGBMYQ_}</p>
            <p class='row-spacing row-margin'>{$Think.lang._CYAQYYHQTBYDQX_}</p>
            <p class="row-spacing">{$Think.lang._YQABXYDYDJXSFFYBZSKZD_}</p>
            <p class="row-spacing">{$Think.lang._KSSGBNDZHYYWLXYW_}</p>
            <p class="row-spacing">{$Think.lang._WLYHDZHJQNSZHBDAQ_}</p>
        </div>

        <!--内容块  第九块 符合您的当地法律-->
        <div class="container">
            <h3>{$Think.lang._FHNDDDFL_}</h3>
            <p>{$Think.lang._XXGSWJGJNTGFWJXDRHJYSDSRBKC_}</p>
        </div>

        <!--内容块  第十块 隐私保密政策-->
        <div class="container">
            <h3>{$Think.lang._YINSBHZC_}</h3>
            <p>{$Think.lang._YINSBMZCDDTGMSRHSJ_}</p>
            <p class="crude">{$Think.lang._BXYFHXSFWDXX_}</p>
            <p class='row-spacing'>{$Think.lang._ZCSXWZTGGRXX_}</p>
            <p class='row-spacing'>{$Think.lang._CJWZHDHFWWYSEEJLLLQ_}</p>
            <p class='row-spacing'>{$Think.lang._WCSYHBCHFHQYHGRXX_}</p>
            <p class='row-spacing'>{$Think.lang._QTBGHFTJHQYHGRXX_}</p>
            <p class="crude">{$Think.lang._WANGCHENGNUO_}</p>
            <p>{$Think.lang._FJFDYYHYHSXXKBHTLXX_}</p>
            <p class='row-spacing'>{$Think.lang._WJYHTYXYHBRHQTTT_}</p>
            <p class='row-spacing'>{$Think.lang._GJFLFGXGGGDSFPL_}</p>
            <p class='row-spacing'>{$Think.lang._QTGJFLFGDXGGDJXDPL_}</p>
        </div>

        <!--内容块  第十一块 赔偿-->
        <div class="container">
            <h3>{$Think.lang._PEICHANG_}</h3>
            <p>{$Think.lang._STMMSSYDSFSPGCDWH_}</p>
        </div>

        <!--内容块  第十二块 拒绝担保与免责-->
        <div class="container refused">
            <h3>{$Think.lang._JJDBYMZ_}</h3>
            <p>{$Think.lang._WANGZUOWEI_}<span class='crude'>“{$Think.lang._WLFWTGZ_}”</span>{$Think.lang._BDBPTSDXXJFWNCFMZYHDXQ_}</p>
            <p>{$Think.lang._JYHLWDTSXDBFWBHSZD_}</p>
            <p>{$Think.lang._BDYHSFBXXDBCXGHSCSBFZ_}</p>
            <p>{$Think.lang._WYSMXSMQYDHQRHXX_}</p>
            <p>{$Think.lang._YHSFBDYHPLJDBYHGRGD_}</p>
            <p>{$Think.lang._YQSCGLBFHFLHXYGDDXX_}</p>
            <p>{$Think.lang._SYFGYHDTGZSDYMGG_}</p>
            <p>{$Think.lang._YQGJSCQKTZCZTXJYDFFL_}</p>
        </div>

        <!--内容块  第十三块 适用法律和审判地-->
        <div class="container">
            <h3>{$Think.lang._SYFLHSPD_}</h3>
            <p>{$Think.lang.YUESUHEJIESHIZHUSU__}</p>
        </div>

        <!--内容块  第十四块 仲裁-->
        <div class="container">
            <h3>{$Think.lang._ZHONGCAI_}</h3>
            <p>{$Think.lang._TONGYIZHONGCAIZHENGYI_}</p>
        </div>

        <!--内容块  第十五块 可分性-->
        <div class="container">
            <h3>{$Think.lang._KEFENXING_}</h3>
            <p>{$Think.lang._BUYNGXIANGQTRHTKDFLXL_}</p>
        </div>

        <!--内容块  第十六块 投诉-->
        <div class="container">
            <h3>{$Think.lang._TOUSU_}</h3>
            <p>{$Think.lang._RUGUONYRHTSFKWTQTG_}
                <a href="#" class='acti-decoration'>support@BTCsale.com.</a>{$Think.lang._LIANXIWOMENDKEHUFU_}</p>
        </div>

        <!--内容块  第十七块 其他规定-->
        <div class='container' style="margin-bottom: 0;position: relative">
            <h3>{$Think.lang._QITAGUIDING_}</h3>
            <p class='internal-wid'>{$Think.lang._QUDAIYUZQSYDLIJIEHEGOUT_}</p>
        </div>

    </div>



    <div class="clear"></div>

    <!-- 返回头部 -->
    <div class="backTop" id="backtop"></div>

</div>
<include file="Public:footer1" />