<include file="Public:header1" />

<!-- 背景图 -->
<div class='public_font_Himg'></div>
<!-- 主体内容 -->
<div class='policy-wrap collect'>
    <!--内容块 标题-->
    <div class='container content-title'>
        <div class=" headtitle col-lg-12 col-md-12 col-xs-12">
            <svg class="icon register-icon" aria-hidden="true"><use xlink:href="#icon-icon_Private"></use></svg>
            <h1 class="title">{$Think.lang._YINSZCHSM_}</h1>
        </div>
    </div>

    <!--全部内容部分-->
    <div class="policy-content">
        <!--内容块 第一个内容 介绍-->
        <div class="container">
            <p class="date">{$Think.lang._ZHXD_}：2017-11-30 19:39:06</p>
            <p class='crude internal-wid'>{$Think.lang._BYSZCHSMJSL_}
                <a href="#" class='acti-decoration'>LCTech Corporation(“LCT”)</a>{$Think.lang._SYNDGRSJTGSZZC_}</p>
        </div>


        <!--内容块 第二个内容     数据收集目的和使用-->
        <div class="container">
            <h3>{$Think.lang._SJSJMDHSY_}</h3>
            <p>{$Think.lang._SJCLCCGRSJHDNDTY_}</p>
            <p class='crude'>{$Think.lang._WMYDSFFXNDSJ_}</p>
            <p class='crude row-spacing'>（a）{$Think.lang._RGFXDYZXYBY_}</p>
            <p class='crude row-spacing'>（b）{$Think.lang._SWMNGZSZFJGDYQ_}</p>
            <p class='crude row-spacing'>（c）{$Think.lang._XPTTGGLHJSFW_}</p>
            <p class='crude row-spacing'>（d）{$Think.lang._RGSYCSHZRWMDYW_}</p>
            <p class='crude'>{$Think.lang._WMYCQCSFZXQZZKBZY_}</p>
        </div>
        <!--内容块 第三个内容     存储您的个人数据-->
        <div class="container">
            <h3>{$Think.lang._CCNDGRSJ_}</h3>
            <p>{$Think.lang._WMCNNSJDSJKNZY_}<span class='crude'>{$Think.lang._YSWEJQD_}</span>{$Think.lang._YWDGZRYCLTJNDGRZL_}</p>
        </div>

        <!--内容块 第四个内容    联系BTCsale关于隐私-->
        <div class="container">
            <h3>{$Think.lang._LXBTCGYYS_}</h3>
            <p class='crude'>{$Think.lang._TGFSYJZYXYXDZYWMLX_}
                <a href="#" class='acti-decoration'>support@BTCsale.com</a>{$Think.lang._WLXGSJBHGD_}
                <a href="#" class='acti-decoration'>LCT</a>.{$Think.lang._ZCDWYSWEJQD_}
                <a href="#" class='acti-decoration'>Vistra Corporate Service Centre, Coastal Building, Wickhams Cay ll, Road Town,Tortola,VG1110,British Virgin Islands</a>{$Think.lang._JUHAO_}</p>
        </div>
        <!--内容块 第五个内容     对我们的隐私政策的修-->
        <div class="container" style='margin-bottom: 0; position: relative'>
            <h3>{$Think.lang._DWMYSZCDXG_}</h3>
            <p class="internal-wid">{$Think.lang._WMJZXKLDZYJGZN_}</p>
        </div>

    </div>
    <div class="clear"></div>

    <!-- 返回头部 -->
    <div class="backTop" id="backtop"></div>


</div>
<include file="Public:footer1" />