<include file="Public:header1" />

<!-- 背景图 -->
<div class='public_font_Himg'></div>
<!-- 主体内容 -->
<div class='policy-wrap'>
    <!--内容块 标题-->
    <div class='container content-title'>
        <div class=" headtitle col-lg-12 col-md-12 col-xs-12">
            <svg class="icon register-icon" aria-hidden="true"><use xlink:href="#icon-icon_mianze1"></use></svg>
            <h1 class="title">LCT {$Think.lang._MZSM_}</h1>
        </div>
    </div>

    <!--全部内容部分-->
    <div class="policy-content terms-of-service">
        <!--日期时间-->


        <!--内容块 第一个内容 介绍-->
        <div class="container ">
            <p class="date">{$Think.lang._ZHXD_}：2017-11-30 19:39:06</p>
            <p>{$Think.lang._WANGZUOWEI_}<span class='crude'>“{$Think.lang._WLFWTGZ_}”</span>{$Think.lang._BDBPTSDXXJFWNCFMZYHDXQ_}</p>
            <p>{$Think.lang._JYHLWDTSXDBFWBHSZD_}</p>
            <p>{$Think.lang._BDYHSFBXXDBCXGHSCSBFZ_}</p>
            <p>{$Think.lang._WYSMXSMQYDHQRHXX_}</p>
            <p>{$Think.lang._YHSFBDYHPLJDBYHGRGD_}</p>
            <p>{$Think.lang._YQSCGLBFHFLHXYGDDXX_}</p>
            <p>{$Think.lang._SYFGYHDTGZSDYMGG_}</p>
            <p class="internal-wid">{$Think.lang._YQGJSCQKTZCZTXJYDFFL_}</p>
        </div>

    </div>



    <div class="clear"></div>

    <!-- 返回头部 -->
    <div class="backTop" id="backtop"></div>

</div>
<include file="Public:footer1" />