<include file="Public:PersonalCenterHeader" />
<!-- 汇率 -->
<div class="exchangeRate">
	<div class="row">
		<!-- 标题 -->
		<div class="col-lg-12 col-md-12 col-sm-12 nofloat_auto">
			<h1>{$Think.lang._RMBDMYHL_}</h1>
		</div>
		<!-- 表格 -->
		<div class="col-lg-10 col-md-10 col-xs-10 nofloat_auto">
			<table>
				<thead>
					<tr>
						<th>{$Think.lang._SHIJIAN_}</th>
						<th>{$Think.lang._DRHL_}</th>
						<th>{$Think.lang._LZPJ_}</th>
					</tr>
				</thead>
				<tbody>
					<volist name="rate_list" id="vo">
						<tr>
							<td>{$vo['add_time']|date="Y-m-d",###}</td>
							<td>{$vo['rate']}</td>
							<td>
								{$vo['rate_avg']}
							</td>
						</tr>
					</volist>
				</tbody>
			</table>
		</div>
	</div>
</div>
<include file="Public:PersonalCenterFooter" />