<include file="Public:header1" />
<div class="team_content">
    <!--头部动画图片-->
    <div class="about_header_img_box" id="about_img_box">
        <div class='about_header_img fadeInUp' id="about_img1"><img class="heart_bottom" src="__HOME_IMG__/teamIntroduction/team_top_1.png" alt="" data-depth="0.15"></div>
        <div class='about_header_img fadeInUp ' id="about_img2"><img src="__HOME_IMG__/teamIntroduction/team_top_2.png" alt="" data-depth="0.15"></div>
        <div class='about_header_img fadeInUp' id="about_img3"><img src="__HOME_IMG__/teamIntroduction/team_top_left_cube.png" alt="" data-depth="0.15"></div>
        <div class='about_header_img fadeInUp' id="about_img4"><img class="heart_bottom" src="__HOME_IMG__/teamIntroduction/team_top_3.png" alt="" data-depth="0.15"></div>
        <div class='about_header_img fadeInUp' id="about_img5"><img class="heart_bottom_1" src="__HOME_IMG__/teamIntroduction/team_top_4.png" alt=""></div>
        <div class='about_header_img fadeInUp ' id="about_img6"><img src="__HOME_IMG__/teamIntroduction/team_top_5.png" alt="" data-depth="0.15"></div>
        <div class='about_header_img fadeInUp ' id="about_img7"><img class="heart_bottom" src="__HOME_IMG__/teamIntroduction/team_top_6.png" alt="" data-depth="0.15"></div>
        <div class='about_header_img fadeInUp' id="about_img8"><img class="heart_bottom" src="__HOME_IMG__/teamIntroduction/team_top_right_cube.png" alt="" data-depth="0.15"></div>
        <div class='about_header_img fadeIn' id="about_box_line"><img src="__HOME_IMG__/teamIntroduction/team_top_middle_cube.png" alt=""></div>
        <div class='phone_header_img team_phone_header_img fadeInUp' id='phone_us_bg_top'><img src="__HOME_IMG__/teamIntroduction/team_top.png" alt="" data-depth="0.08"></div>
    </div>
    <div class='about_wrap'>
        <!--左中动画图片-->
        <div class='about_middle_img' id="about_bg_left"><img src="__HOME_IMG__/aboutus/us_bg_left.png" alt="" data-depth="0.15"></div>
        <!--右下动画图片-->
        <div class="about_bottom_img_box">
            <div class='about_bottom_img'><img src="__HOME_IMG__/teamIntroduction/team_right_1.png" alt="" data-depth="0.15"></div>
            <div class='about_bottom_img'><img src="__HOME_IMG__/teamIntroduction/team_right_cube.png" alt="" data-depth="0.15"></div>
            <div class='about_bottom_img'><img src="__HOME_IMG__/teamIntroduction/team_right_xiaocube.png" alt="" data-depth="0.15"></div>
            <div class='about_bottom_img'><img src="__HOME_IMG__/teamIntroduction/team_right_fuwuqi .png" alt="" data-depth="0.15"></div>
            <!--手机版的-->
            <div class='phone_middle_img' id='phone_us_bg_left'><img src="__HOME_IMG__/teamIntroduction/team_left.png" alt="" data-depth="0.08"></div>
            <div class='phone_bottom_img clearfix' id='phone_us_bg_right'><img src="__HOME_IMG__/teamIntroduction/team_right.png" alt="" data-depth="0.08" class='pull-right'></div>
        </div>
        <!--团队介绍-->
        <div class='about_container'>
            <!--团队介绍标题-->
            <div class='about_header text-center team_header'>
                <p class="ab_header_top">團隊介紹</p>
                <p class="ab_header_top">Team Introduction</p>
            </div>
            <!--团队介绍第一段内容-->
            <div class='about_middle text-center'>
                <p>{$Think.lang._SZZCJYPT_}</p>
                <p class='about_content'>{$Think.lang._BGSDKJYFTDCGBRLZSJGDHZGZMQYBHBTJSLY_}</p>
                <p class='about_content'>{$Think.lang._YJQKLYYJSDKFSYBKSZHBZSFXS_}</p>
                <p class='about_content'>{$Think.lang._XZTDNDLYFHSJWSDSZZCJYPTBYYQBJJFA_}</p>
                <p class='about_content'>{$Think.lang._QYZXKJXTKCSZWLXTAQ_}</p>
                <p class='about_content'>{$Think.lang._YJSHYDHLWHSJDYYCSDGJJS_}</p>
            </div>
            <!--团队介绍第二段内容-->
            <div class='about_middle text-center'>
                <p>{$Think.lang._ZYDTZYJGLTD_}</p>
                <p class='about_content'>{$Think.lang._BGSYYYZZYDTZYJGLTDDNZCCWJY_}</p>
                <p class='about_content'>{$Think.lang._NRBKXMQQYJXMYYTZZCRZYJRZ_}</p>
                <p class='about_content'>{$Think.lang._YJTDDDDFXHZYDYGWBJTTZDLJDHB_}</p>
                <p class='about_content'>{$Think.lang._BXZKHDDZCZZCFBZHZCCCDMB_}</p>
            </div>

        </div>
    </div>
</div>
<!-- 返回头部 -->
<div class="backTop" id="backtop"></div>
<include file="Public:footer1" />
<script type="text/javascript">
    var scrollheight = 0;
    $(document).on("scroll", function(e) {
        var PageHeight = document.documentElement.clientHeight + window.scrollY;
        if (PageHeight >= $(".about_bottom_img").eq(0).offset().top) {
            scrollheight = PageHeight / 32.3214;
            $(".about_bottom_img:eq(3) > img").css({
                "transform": "translateY(" + (-scrollheight) + "px)"
            })
            $(".about_bottom_img:eq(2) > img").css({
                "transform": "translateY(" + (-scrollheight) + "px)"
            })
        } else {
            $(".about_bottom_img:eq(3) > img").css({
                "transform": "translateY(0px)"
            })
            $(".about_bottom_img:eq(2) > img").css({
                "transform": "translateY(0px)"
            })
            scrollheight = 0;
        }
    })
</script>