</div>
<!-- Footer Start  -->
<div class="footer">
    <p class="Copyright">CopyRight © 2018-2019 LCTech Corp </p>
</div>
<div class="clearfix"></div>
</div>
<script>
    var $YJMS = "{$Think.lang._YJMS_}";
    var $RJMS = "{$Think.lang._RJMS_}";
</script>
<!-- REQUIRED SCRIPTS -->
<script defer src="__HOME_JS__/jquery.min.js"></script>
<script defer src="__HOME_JS__/bootstrap.min.js"></script>

<!-- REQUIRED PLUGINS -->
<!-- 按钮开关 switch -->
<script defer src="__HOME_PLUG__/bootstrap-switch/js/bootstrap-switch.min.js"></script>


<!-- 下拉菜单 select2.js -->
<script defer src="__HOME_PLUG__/bootstrap-select/js/bootstrap-select.js"></script>

<!-- 日期处理插件 moment.js http://momentjs.cn/-->
<script defer src="__HOME_PLUG__/moment/js/moment.min.js"></script>

<!-- table插件 sortable.js  -->
<script defer src="__HOME_PLUG__/table-sortable/js/sortable.min.js" type="text/javascript" charset="utf-8"></script>

<!-- tab下拉菜单插件 tabdrop.js -->
<script defer src="__HOME_PLUG__/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>

<!-- checkbox插件  icheck.js -->
<script defer src="__HOME_PLUG__/icheck/js/icheck.min.js"></script>

<!-- main.min.js - WISEBOARD CORE SCRIPT -->
<script defer src="__HOME_JS__/main.min.js"></script>
<script defer src="__HOME_PLUG__/bootstrap-modal/js/bootstrap-modal.js"></script>
<script defer src="__HOME_PLUG__/bootstrap-modal/js/bootstrap-modalmanager.js"></script>

<!-- 弹窗 -->
<script defer src="__HOME_PLUG__/bootstrap-modal/js/demo-plugin-bootstrap-modal.js"></script>

<!-- notify -->
<script defer src="__HOME_PLUG__/bootstrap-notify/js/bootstrap-notify.min.js"></script>
<!--牌价k线图-->
<script defer src="__HOME_JS__/jquery.sparkline.min.js"></script>

<!-- FF滚动条消失 -->
<script defer src="__HOME_PLUG__/jquery.nicescroll/jquery.nicescroll.min.js"></script>

<!-- 本页需要用到的js,价格位数和notify弹窗 -->
<script defer src="__HOME_JS__/public/platform.js"></script>

<!-- iconfont -->
<script src="__HOME_CSS__/fonts/iconfont/js/iconfont.js" defer></script>

<script type="text/javascript" src="__HOME_JS__/webchart/webChart.js" defer></script>

<!-- 步骤介绍 Intro.js -->
<script defer src="__HOME_PLUG__/introJS/intro.min.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>