<div class="downbottom clearfix">
    <!--//左边-->
    <div class="downLeft col-xs-12 col-sm-6 col-md-8">
        <div class="knowMore ">
            <ul class="list-unstyled list-inline">
                <!--<li>-->
                    <!--<a href="{:U('Notice/aboutUs')}" class="g-font-size-15&#45;&#45;xs g-color&#45;&#45;white-opacity trackData">{$Think.lang._GYWM_}</a>-->
                <!--</li>-->
                <!--<b>|</b>-->
                <!--<li>-->
                    <!--<a href="{:U('Notice/teamIntroduction')}" class="g-font-size-15&#45;&#45;xs g-color&#45;&#45;white-opacity trackData">{$Think.lang._TDHHZ_}</a>-->
                <!--</li>-->
                <!--<br class="knowMore_br" />-->
                <li>
                    <a href="{:U('Index/policy')}" class="g-font-size-15--xs g-color--white-opacity trackData">{$Think.lang._FWTK_}</a>
                </li>
                <b>|</b>
                <li>
                    <a href="{:U('Index/terms-of-service')}" class="g-font-size-15--xs g-color--white-opacity trackData">{$Think.lang._MZSM_}</a>
                </li>
                <b>|</b>
                <li>
                    <a href="{:U('Index/privacy')}" class="g-font-size-15--xs g-color--white-opacity trackData">{$Think.lang._YSBH_}</a>
                </li>
            </ul>
        </div>
        <div class="Warm_prompt">
            <!-- 手机才显示 -->
            <footer>CopyRight &copy; 2018-2019 LCTech Corp</footer>
            <!--<div class="otherLink md-none smblock pull-right">-->
                <!--<a href="">-->
                    <!--<svg class="icon" aria-hidden="true">-->
                        <!--<use xlink:href="#icon-btm_icon_fb"></use>-->
                    <!--</svg>-->
                <!--</a>-->
                <!--<a href="">-->
                    <!--<svg class="icon" aria-hidden="true">-->
                        <!--<use xlink:href="#icon-btm_icon_ins"></use>-->
                    <!--</svg>-->
                <!--</a>-->
            <!--</div>-->
            <div class="clear"></div>
            <p class="risk">{$Think.lang._SCYFXTZXJS_}</p>
        </div>
    </div>
    <!-- 手机不显示 -->
    <div class="downRight col-md-4 col-sm-5 col-xs-12 clearfix pull-right">
        <!--<div class="otherLink">-->
            <!--<a href="">-->
                <!--<svg class="icon" aria-hidden="true">-->
					<!--<use xlink:href="#icon-btm_icon_fb"></use>-->
				<!--</svg>-->
            <!--</a>-->
            <!--<a href="">-->
                <!--<svg class="icon" aria-hidden="true">-->
					<!--<use xlink:href="#icon-btm_icon_ins"></use>-->
				<!--</svg>-->
            <!--</a>-->
        <!--</div>-->
        <footer>CopyRight &copy; 2018-2019 LCTech Corp</footer>
    </div>
</div>


</body>

</html>
<script type="text/javascript" src="__HOME_JS__/jquery.min.js"></script>
<script type="text/javascript" src="__HOME_JS__/bootstrap.min.js"></script>
<script type="text/javascript" src="__HOME_JS__/bodymovin.min.js"></script>
<!-- icon -->
<script src="__HOME_CSS__/fonts/iconfont/js/iconfont.js"></script>
<!-- wow -->
<script src="__HOME_PLUG__/wow/js/wow.min.js"></script>
<script type="text/javascript">
    var data_url = "__HOME_JS__";
</script>
<!-- 登录前公共js -->
<script src="__HOME_JS__/front/front.js"></script>
<!-- 留言窗口 -->
<script type="text/javascript" src="__HOME_JS__/webchart/webChart.js"></script>