<!-- FOOTER STARTS -->
</div>
<div class="footer">
    <p class="Copyright">CopyRight © 2018-2019 LCTech Corp</p>
</div>
<script>
    var $YJMS = "{$Think.lang._YJMS_}";
    var $RJMS = "{$Think.lang._RJMS_}";
</script>
<!-- FOOTER ENDS -->
<!--websocket断开的提示弹窗-->
<div class="modal fade modalStyle websocketWarm" data-width="500" style="display: none;">
    <div class="modal-content">
        <!--<div class="modal-header text-center">-->
        <!--<img src="__HOME_IMG__/tc_invalid@3x.svg" alt="">-->
        <!--</div>-->
        <div class="modal-body">
            <p class="text-center"><img src="__HOME_IMG__/tc_invalid@3x.svg" alt=""></p>
            <p>WebScokets connection issue.please refresh the page. If the issue persists,please check your connection and ensure that your brower is able to make connections via WebSockets.
            </p>
        </div>
        <div class="modal-footer clearfix">
            <div class="col-xs-6 nofloat_auto">
                <button type="button" data-dismiss="modal" data-dismiss="modal" class="btn btn-default pull-right gradual_change_blue" id="websocketBtn">Okay</button>
            </div>
        </div>
    </div>
</div>
<!-- REQUIRED SCRIPTS -->
<script src="__HOME_JS__/jquery.min.js"></script>
<script src="__HOME_JS__/bootstrap.min.js"></script>
<script type="text/javascript" src="__HOME_JS__/webchart/webChart.js" type="text/javascript" charset="utf-8" defer='defer'></script>
<!-- 下拉菜单 bootstrap-select.js -->
<!--<script src="__HOME_PLUG__/select2/js/select2.full.min.js"></script>-->
<script src="__HOME_PLUG__/bootstrap-select/js/bootstrap-select.js"></script>
<!-- 日期处理插件 moment.js http://momentjs.cn/-->
<script src="__HOME_PLUG__/moment/js/moment.min.js"></script>
<!-- table插件 sortable.js  -->
<script src="__HOME_PLUG__/table-sortable/js/sortable.min.js" type="text/javascript" charset="utf-8"></script>
<!-- tab下拉菜单插件 tabdrop.js -->
<!-- <script src="__HOME_PLUG__/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script> -->
<!-- checkbox插件  icheck.js -->
<script src="__HOME_PLUG__/icheck/js/icheck.min.js"></script>
<!-- table插件 datatable.js -->
<script src="__HOME_PLUG__/datatables/js/dataTables.min.js"></script>
<!-- <script src="__HOME_PLUG__/datatables/js/demo-plugin-datatables-basic.js"></script> -->
<!-- 日历插件 fullcalendar.js -->
<script src="__HOME_PLUG__/fullcalendar/js/fullcalendar.min.js"></script>
<!-- main.min.js - WISEBOARD CORE SCRIPT -->
<script src="__HOME_JS__/main.min.js"></script>
<script src="__HOME_PLUG__/bootstrap-modal/js/bootstrap-modal.js"></script>
<script src="__HOME_PLUG__/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
<!--<script src="__HOME_JS__/demo-form.js"></script>-->
<!-- 步骤介绍 Intro.js -->
<!-- <script src="__HOME_PLUG__/introJS/intro.min.js" type="text/javascript" charset="utf-8" async="async"></script> -->
<!-- notify插件 -->
<script src="__HOME_PLUG__/bootstrap-notify/js/bootstrap-notify.min.js"></script>
<!-- 弹窗 -->
<script src="__HOME_PLUG__/bootstrap-modal/js/demo-plugin-bootstrap-modal.js"></script>
<!-- iconfont -->
<script src="__HOME_CSS__/fonts/iconfont/js/iconfont.js" async="async"></script>
<!-- file -->
<script src="__HOME_PLUG__/jasny-bootstrap/js/fileinput.js"></script>
<!-- FF滚动条消失 -->
<script src="__HOME_PLUG__/jquery.nicescroll/jquery.nicescroll.min.js"></script>
<!-- my js -->
<script src="__HOME_JS__/public/index.js"></script>
<script src="__HOME_JS__/public/platform.js" type="text/javascript" charset="utf-8"></script>
<script src="__HOME_JS__/public/webSocket.js"></script>
<!--牌价k线图-->
<script src="__HOME_JS__/jquery.sparkline.min.js"></script>
<!-- ajaxform表单提交 -->
<script src='__HOME_JS__/jquery.form.min.js'></script>
</body>

</html>