<include file="Public:header1" />
<!-- mystyle -->
<link rel="stylesheet" type="text/css" href="__HOME_CSS__/front/download.css">

<!-- 网页背景图 顶部 -->
<div class="T_R_img">
    <img src="__HOME_IMG__/dl_bg_top.svg">
</div>
<!-- 网页背景图 底部 -->
<div class="B_L_img">
    <img src="__HOME_IMG__/dl_bg_btm.svg">
</div>
<div class="download_bg">
    <!-- 第一屏的div -->
    <div class="topWrap_box">
        <div class="container download_bg_color">
            <!-- No.0 -->
            <div class="row box">
                <div class="header-content">
                    <!-- BS-PASS顶部的标题和介绍 -->
                    <div class="des_title">
                        <img src="__HOME_IMG__/dl_bplogo.svg" class="logo_size wow fadeIn" data-wow-duration="1.8s" data-wow-delay=".6s">
                        <p class="downloadh3 wow fadeIn" data-wow-duration="1.8s" data-wow-delay="1s">BS-PASS APP</p>
                        <!-- <p class="Functional-specifications wow fadeIn" data-wow-duration="1.8s" data-wow-delay="1.4s">{$Think.lang._SYDTMLKTGSJDLBYX_}</p> -->
                        <p class="Functional-specifications wow fadeIn" data-wow-duration="1.8s" data-wow-delay="1.4s">{$Think.lang._SYDTMLSCBZDYWEWYH_}</p>
                    </div>
                    <!-- Android、AppStore和绑定教程按钮 -->
                    <div class="GoDownload">
                        <p class="twoPhone_box clearfix">
                            <a class="btn btnStyle wow fadeIn" data-wow-duration="1.5s" data-wow-delay="1.8s" href="#" data-lightbox="iPhone" data-title="iPhone">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-icon_apple"></use>
                                </svg>
                                <span>AppStore</span>
                            </a>
                            <a class="btn btnStyle wow fadeIn" data-wow-duration="1.5s" data-wow-delay="1.8s" href="#" data-lightbox="Android" data-title="Android">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-icon_and"></use>
                                </svg>
                                <span>Android</span>
                            </a>
                        </p>
                        <p class="dynamic_box">
                            <a href="../Course/index.html" class="btn btnStyle wow fadeIn" data-wow-duration="1.5s" data-wow-delay="1.9s" href="#" data-lightbox="dynamic" data-title="dynamic">BS-PASS{$Think.lang._BDJC_}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BS-PASS特点部分 有三个特点 -->
    <div class="white_bg">
        <div class="instruction_box">
            <div class="container ">
                <!-- No.1 -->
                <div class="row box">
                    <div class="col-lg-4 text-left pull-right">
                        <div class="font">
                            <div class="down_tit2 wow fadeInDown text-left">{$Think.lang._BDWEIYI_}</div>
                            <p class="wow fadeInDown beauty bleft">{$Think.lang._MGZHBDWYYJDJZH_}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="instruction_box">
            <div class="container">
                <!-- No.2 -->
                <div class="row box">
                    <div class="col-lg-4 text-right pull-left">
                        <div class="font text-right font-second">
                            <div class="down_tit2 wow fadeInDown">{$Think.lang._DTMILING_}</div>
                            <p class="wow fadeInDown beauty bright">{$Think.lang._MGZHDLMLBMSSMGX_}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="instruction_box">
            <div class="container">
                <!-- No.3 -->
                <div class="row box">
                    <div class="col-lg-4 text-left pull-right">
                        <div class="font ">
                            <div class="down_tit2 wow fadeInDown text-left">{$Think.lang._SCYANZHENG_}</div>
                            <p class="wow fadeInDown beauty bleft">{$Think.lang._LDYZTGSCBZZHZC_}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<!-- 返回头部 -->
<div class="backTop" id="backtop"></div>

<!--底部联系-->
<include file="Public:footer1" />